{{!-- ember-cli-materialize modal container --}}
{{md-modal-container}}

{{#md-navbar name='Appsara' class='indigo'}}
  <!-- A workaround to get the "active" class
    to apply to the active <li> automatically -->
  {{#link-to 'createtaskforme' tagName='li'}}
    {{link-to 'Task' 'createtaskforme'}}
  {{/link-to}}
  {{#link-to 'listtaskforme' tagName='li'}}
    {{link-to 'List' 'listtaskforme'}}
  {{/link-to}}
{{/md-navbar}}
{{#md-tabs
  selected=basicTabsSelection}}
  {{md-tab value='a' title="Sixth"}}
  {{md-tab value='b' title="Seventh"}}
  {{md-tab value='c' title="Eighth"}}
{{/md-tabs}}



{{outlet}}

<footer>
    {{#md-copyright text='Heer Software Studios'
        startYear=2015
        class='light-blue darken-2 white-text'}}
        <a class="white-text right" href="#!">
          More Links
        </a>
    {{/md-copyright}}
</footer>