<div>
{{mdl-textfield label='First Name' value='Shagufta'}}
</div>
<div>
{{mdl-textfield label='Last Name' value=lastName isLabelFloating=false}}
</div>
<div>
{{mdl-textfield label='Age' type='number'}}
</div>
<div>
{{mdl-textfield label='Password' type='password'}}
</div>
<div>
{{mdl-textfield label='Favorite ice cream flavor' type='text' disabled=true}}
</div>
<div>
<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
  Submit
</button>
</div>