<div class="row">
{{mdl-textfield label='First Name' value="heer"}}
{{mdl-textfield label='Last Name' value="Shagufta" isLabelFloating=false}}
{{mdl-textfield label='Age' type='number'}}
{{mdl-textfield label='Password' type='password'}}
{{mdl-textfield label='Favorite ice cream flavor' type='text' disabled=true}}

</div>